<main class="container my-5 flex-grow-1">
  <section class="listado-juegos">
    <article class="juego-ficha">
      <img src="assets/img/starwarsunlimited.jpg" alt="Star Wars Unlimited">
      <h3>Star Wars Unlimited - Starter Set</h3>
      <p class="descripcion">Star Wars Unlimited es un TCG competitivo y rápido que combina personajes icónicos de Star Wars con mecánicas accesibles y profundas.</p>
      <p class="precio">Precio: $34.990</p>
      <p class="descuento">¡Con descuento!</p>
    </article>

    <article class="juego-ficha">
      <img src="assets/img/pokemontcg.jpg" alt="Pokemon TCG">
      <h3>Pokemon TCG - Elite Trainer Box</h3>
      <p class="descripcion">En Pokémon TCG coleccionas cartas, construyes tu mazo y enfrentas a otros entrenadores en combates llenos de estrategia.</p>
      <p class="precio">Precio: $13.990</p>
      <p class="descuento">Sin descuento</p>
    </article>

    <article class="juego-ficha">
      <img src="assets/img/magic.png" alt="Magic: The Gathering">
      <h3>Magic: The Gathering - Booster Box</h3>
      <p class="descripcion">Magic: The Gathering es el juego de cartas coleccionables por excelencia, con miles de cartas y modos de juego estratégicos.</p>
      <p class="precio">Precio: $59.990</p>
      <p class="descuento">¡Con descuento!</p>
    </article>
  </section>
</main>