<main class="container my-5 flex-grow-1">
  <section class="hero-section text-center mb-5">
    <h2>TCG (Trading Card Games)</h2>
    <p class="lead">Construye tu mazo, domina las cartas y conquista el duelo.</p>
  </section>

  <section  class="listado-juegos row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4 justify-content-center" *ngIf="juegosTCG$ | async as juegos">
    <div class="col" *ngFor="let juego of juegos">
      <app-game-card [juego]="juego"></app-game-card>
    </div>
    <div *ngIf="juegos.length === 0" class="col-12">
      <p>No hay juegos TCG disponibles en este momento.</p>
    </div>
  </section>
</main>