<div class="row justify-content-center">

    <div class="col-md-4 col-sm-6 mb-4">
        <a routerLink="/party" class="card h-100 text-decoration-none text-dark category-card-link">
            <img src="/los-juegos-de-ramona/src/assets/img/categoria-party games.jpg" class="card-img-top" alt="Juegos Party">
            <div class="card-body">
                <h5 class="card-title">Juegos Party</h5>
                <p class="card-text">Diversión garantizada con amigos.</p>
            </div>
        </a>
    </div>

    <div class="col-md-4 col-sm-6 mb-4">
        <a routerLink="/cartas" class="card h-100 text-decoration-none text-dark category-card-link">
            <img src="/los-juegos-de-ramona/src/assets/img/categoria-tcg.jpg" class="card-img-top" alt="TCG">
            <div class="card-body">
                <h5 class="card-title">TCG</h5>
                <p class="card-text">Construye tu mazo y desafía.</p>
            </div>
        </a>
    </div>

    <div class="col-md-4 col-sm-6 mb-4">
        <a routerLink="/rol" class="card h-100 text-decoration-none text-dark category-card-link">
            <img src="/los-juegos-de-ramona/src/assets/img/categoria-rol.jpeg" class="card-img-top" alt="Juegos de Rol">
            <div class="card-body">
                <h5 class="card-title">Juegos de Rol</h5>
                <p class="card-text">Crea historias épicas.</p>
            </div>
        </a>
    </div>

    <div class="col-md-4 col-sm-6 mb-4">
        <a routerLink="/wargames" class="card h-100 text-decoration-none text-dark category-card-link">
            <img src="/los-juegos-de-ramona/src/assets/img/categoria-wargames.jpg" class="card-img-top" alt="Wargames">
            <div class="card-body">
                <h5 class="card-title">Wargames</h5>
                <p class="card-text">Lidera tus ejércitos a la victoria.</p>
            </div>
        </a>
    </div>

</div>