<main class="container my-5 flex-grow-1">
  <section class="listado-juegos">
    <article class="juego-ficha">
      <img src="assets/img/Dungeons-Dragons-Kit-Esencial.jpg" alt="Dungeons and Dragons">
      <h3>Dungeons and Dragons - Kit Esencial</h3>
      <p class="descripcion">Un set ideal para iniciarse en Dungeons & Dragons, con todo lo necesario para comenzar tu primera aventura de rol épica.</p>
      <p class="precio">Precio: $23.990</p>
      <p class="descuento">¡Con descuento!</p>
    </article>

    <article class="juego-ficha">
      <img src="assets/img/pathfinder.jpg" alt="Pathfinder">
      <h3>Pathfinder - Guía del Jugador</h3>
      <p class="descripcion">El Manual del Jugador de Pathfinder ofrece reglas detalladas y opciones de personaje para vivir aventuras llenas de fantasía y estrategia.</p>
      <p class="precio">Precio: $39.990</p>
      <p class="descuento">Sin descuento</p>
    </article>

    <article class="juego-ficha">
      <img src="assets/img/callofcthulhu.jpg" alt="Call of Cthulhu">
      <h3>Call of Cthulhu - Caja de Inicio</h3>
      <p class="descripcion">Explora horrores cósmicos y misterios sobrenaturales con el Manual del Jugador de La Llamada de Cthulhu, el juego de rol basado en la obra de H.P. Lovecraft.</p>
      <p class="precio">Precio: $44.990</p>
      <p class="descuento">¡Con descuento!</p>
    </article>
  </section>
</main>