<main class="container my-5 flex-grow-1">
  <section class="hero-section text-center mb-5">
    <h2>Wargames</h2>
    <p class="lead">Lidera ejércitos, planifica estrategias y domina el campo de batalla.</p>
  </section>

  <section  class="listado-juegos row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4 justify-content-center" *ngIf="juegosWargames$ | async as juegos">
    <div class="col" *ngFor="let juego of juegos">
      <app-game-card [juego]="juego"></app-game-card>
    </div>
    <div *ngIf="juegos.length === 0" class="col-12">
      <p>No hay Wargames disponibles en este momento.</p>
    </div>
  </section>
</main>